In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm
import numpy_financial as npf

In [3]:
df = pd.read_excel(
        'Data/Bonos (tasas).xlsx',
        sheet_name='historical yields nodos 2 y 10'
    )

df['fecha'] = pd.to_datetime(df['fecha'])
df = df.sort_values('fecha')
df

         fecha    2Y   10Y
260 2025-02-11  9.22  9.84
259 2025-02-12  9.28  9.90
258 2025-02-13  9.21  9.86
257 2025-02-14  9.16  9.85
256 2025-02-17  9.15  9.88
..         ...   ...   ...
4   2026-02-04  7.51  8.91
3   2026-02-05  7.46  8.82
2   2026-02-06  7.36  8.78
1   2026-02-09  7.38  8.79
0   2026-02-10  7.32  8.71

[261 rows x 3 columns]

In [150]:
pos_2Y = 3_279_512
pos_10Y = 1_054_357

p2y = 102.1857
p10y = 95.2264

vpos2y = pos_2Y * p2y
vpos10y = pos_10Y * p10y

pv01_2y = 102.2048
pv01_10y = 95.2903

pv01_2y_pb = pv01_2y - p2y
pv01_10y_pb = pv01_10y - p10y

pv01_pos2y = pos_2Y * pv01_2y_pb
pv01_pos10y = pos_10Y * pv01_10y_pb

In [151]:
pl = pd.DataFrame()

pl['d2Y'] = df['2Y'].diff().dropna() * 100
pl['d10Y'] = df['10Y'].diff().dropna() * 100

pl['P&L 2Y'] = - pl['d2Y'] * pv01_pos2y
pl['P&L 10Y'] = - pl['d10Y'] * -pv01_pos10y

pl['P&L port'] = pl['P&L 2Y'] + pl['P&L 10Y']

np.percentile(pl['P&L port'], 5)

np.float64(-538987.2984000329)

In [152]:
results = pd.DataFrame(columns=['2Y', '10Y'])

results.loc['Cantidad de titulos'] = [pos_2Y, pos_10Y]
results.loc['Precio'] = [p2y, p10y]
results.loc['PV01'] = [pv01_2y, pv01_10y]
results.loc['Valor de la posicion'] = [vpos2y, vpos10y]

valor_total = vpos2y + vpos10y

results.loc['Ponderaciones %'] = [vpos2y/valor_total * 100, -vpos10y/valor_total * 100]
results.loc['PV01 por bono'] = [pv01_2y_pb, pv01_10y_pb]
results.loc['PV01 por posicion'] = [pv01_pos2y, pv01_pos10y]
results

                                2Y           10Y
Cantidad de titulos   3.279512e+06  1.054357e+06
Precio                1.021857e+02  9.522640e+01
PV01                  1.022048e+02  9.529030e+01
Valor de la posicion  3.351192e+08  1.004026e+08
Ponderaciones %       7.694659e+01 -2.305341e+01
PV01 por bono         1.910000e-02  6.390000e-02
PV01 por posicion     6.263868e+04  6.737341e+04

**Ahora con función:**

In [153]:
def resumen_portafolio_y_var(params: dict):
    """
    Input unico (dict):
    {
        "df": df_tasas,
        "bonos": {
            "2Y":  {"posicion": 3279512,  "precio": 102.1857, "pv01": 102.2048},
            "10Y": {"posicion": -1054357, "precio": 95.2264,  "pv01": 95.2903}
        },
        "nivel_confianza": 0.95
    }
    """
    df = params["df"].copy()
    bonos = params["bonos"]
    nc = float(params.get("nivel_confianza", 0.95))

    resumen = pd.DataFrame(columns=bonos.keys())
    valor_pos, pv01_bono, pv01_pos = {}, {}, {}

    for bono, x in bonos.items():
        pos = float(x["posicion"])
        precio = float(x["precio"])
        pv01 = float(x["pv01"])

        valor_pos[bono] = pos * precio
        pv01_bono[bono] = pv01 - precio
        pv01_pos[bono] = pos * pv01_bono[bono]

    valor_total_abs = sum(abs(v) for v in valor_pos.values())

    resumen.loc["Cantidad de titulos"] = [bonos[b]["posicion"] for b in bonos]
    resumen.loc["Precio"] = [bonos[b]["precio"] for b in bonos]
    resumen.loc["PV01"] = [bonos[b]["pv01"] for b in bonos]
    resumen.loc["Valor de la posicion"] = [valor_pos[b] for b in bonos]
    resumen.loc["Ponderacion %"] = [
        (valor_pos[b] / valor_total_abs) * 100 if valor_total_abs != 0 else np.nan
        for b in bonos
    ]
    resumen.loc["PV01 por bono"] = [pv01_bono[b] for b in bonos]
    resumen.loc["PV01 por posicion"] = [pv01_pos[b] for b in bonos]

    pl = pd.DataFrame(index=df.index)
    pl_port = np.zeros(len(df))

    for bono in bonos:
        if bono not in df.columns:
            raise ValueError(f"No existe la columna '{bono}' en df.")
        dy_bps = df[bono].diff() * 100.0
        pl_bono = -dy_bps * pv01_pos[bono]
        pl[f"P&L {bono}"] = pl_bono
        pl_port += pl_bono.fillna(0).values

    pl["P&L portafolio"] = pl_port
    pl_valid = pl["P&L portafolio"][1:]

    alpha = 1.0 - nc
    cutoff = np.percentile(pl_valid, alpha * 100)
    var_historico = -cutoff

    print("\\nResumen del portafolio:")
    print(resumen)
    print(f"\\nVaR historico al {nc:.2%}: {var_historico:,.2f}")
    print(f"(Percentil cola izquierda: {cutoff:,.2f})")

    return resumen, pl, var_historico

In [154]:
params = {
    "df": df,
    "bonos": {
        "2Y":  {"posicion": 3279512,  "precio": 102.1857, "pv01": 102.2048},
        "10Y": {"posicion": -1054357, "precio": 95.2264,  "pv01": 95.2903}
    },
    "nivel_confianza": 0.95
}

resumen, pl, var95 = resumen_portafolio_y_var(params)

\nResumen del portafolio:
                                2Y           10Y
Cantidad de titulos   3.279512e+06 -1.054357e+06
Precio                1.021857e+02  9.522640e+01
PV01                  1.022048e+02  9.529030e+01
Valor de la posicion  3.351192e+08 -1.004026e+08
Ponderacion %         7.694659e+01 -2.305341e+01
PV01 por bono         1.910000e-02  6.390000e-02
PV01 por posicion     6.263868e+04 -6.737341e+04
\nVaR historico al 95.00%: 538,987.30
(Percentil cola izquierda: -538,987.30)

**Si ambos fuesen long:**

In [155]:
params = {
    "df": df,
    "bonos": {
        "2Y":  {"posicion": 3279512,  "precio": 102.1857, "pv01": 102.2048},
        "10Y": {"posicion": 1054357, "precio": 95.2264,  "pv01": 95.2903}
    },
    "nivel_confianza": 0.95
}

resumen, pl, var95 = resumen_portafolio_y_var(params)

\nResumen del portafolio:
                                2Y           10Y
Cantidad de titulos   3.279512e+06  1.054357e+06
Precio                1.021857e+02  9.522640e+01
PV01                  1.022048e+02  9.529030e+01
Valor de la posicion  3.351192e+08  1.004026e+08
Ponderacion %         7.694659e+01  2.305341e+01
PV01 por bono         1.910000e-02  6.390000e-02
PV01 por posicion     6.263868e+04  6.737341e+04
\nVaR historico al 95.00%: 935,706.56
(Percentil cola izquierda: -935,706.56)

In [156]:
pl

          P&L 2Y      P&L 10Y  P&L portafolio
260          NaN          NaN          0.0000
259 -375832.0752 -404240.4738    -780072.5490
258  438470.7544  269493.6492     707964.4036
257  313193.3960   67373.4123     380566.8083
256   62638.6792 -202120.2369    -139481.5577
..           ...          ...             ...
4    125277.3584 -269493.6492    -144216.2908
3    313193.3960  606360.7107     919554.1067
2    626386.7920  269493.6492     895880.4412
1   -125277.3584  -67373.4123    -192650.7707
0    375832.0752  538987.2984     914819.3736

[261 rows x 3 columns]